body {
  margin: 0;
}

main {
  margin: 16px;
}

.navbar {
  display: flex;
  align-items: center;
  background: rebeccapurple;
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
}

.navbar__title {
  margin-right: auto;
  font-size: 150%;
  padding: 12px 16px;
}

.navbar__item {
  padding: 16px 16px;
  cursor: pointer;
  vertical-align: middle;
}
/* A link that has not been visited */
.navbar a:link {
  color: white;
  text-decoration: none;
}
/* A link that has been visited */
.navbar a:visited {
  color: white;
}
/* A link that is hovered on */
.navbar a:hover {
  color: whitesmoke;
}
/* A link that is selected */
.navbar a:active {
  color: blue;
}
